/* Ajoutez ce CSS dans votre fichier de styles */
.scroll-to-top {
    position: fixed;
    z-index: 98;
    bottom: 20px;
    right: 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top:hover {
    background-color: #e04b00;
  }

  