@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cv_all_section {
  background-color: white;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv_section {
  height: auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.cv_top_section {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.cv_top_section p {
  color: #ff6600;
  font-size: 25px;
}

.cv_top_section h2 {
  font-size: 35px;
}

.cv_bot_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cbs_left {
  width: 100%;
  color: #ff6600;
}

.cbs_left h2 {
  height: 100px;
  text-align: center;
}

.cbs_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.cbs_right p {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .cv_section {
    width: 765px;
    text-align: center;
  }

  .cv_top_section h2 {
    font-size: 25px;
    text-align: center;
  }

  .cv_top_section p {
    font-size: 30px;
  }

  .cv_bot_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .cbs_left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cbs_left h2 {
    height: 100px;
  }

  .cbs_right {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .cv_section {
    width: auto;
    padding: 0 10px;
  }

  .cv_top_section p {
    font-size: 30px;
  }

  .cv_top_section h2 {
    font-size: 25px;
  }

  .cbs_right {
    font-size: 18px;
  }

  .cbs_right p {
    font-size: 18px;
  }

  .cbs_left img {
    height: 500px;
  }
}

@media screen and (max-width: 400px) {
  .cbs_left img {
    height: 300px;
  }
}
