/* Import de la police Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Réinitialisation des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Styles pour la barre de navigation */
.nav {
  color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 150px;
  font-size: calc(0.5rem + 1vw);
  text-align: center;
}

.initial-bg {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scrolled-bg {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style pour le logo */
.image_logo {
  height: 100%;
  width: auto;
}

.image_logo img {
  width: 95%;
  height: 95%;
  margin-left: 20px;
}

/* Style pour le bouton du menu hamburger */
.icons_burger {
  cursor: pointer;
  display: none;
  font-size: 2rem;
  font-weight: bold;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Style pour le menu de navigation */
.nav_barre {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 60%;
  transition: left 0.25s;
  position: relative;
}

/* Style pour les liens de navigation */
.linav {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

/* Effet de survol */
.linav:hover {
  color: #ff6600;
  cursor: pointer;
}

/* Style pour le lien actif */
.linav.active {
  color: #ff6600;
  font-weight: bold;
}

/* Media query pour les écrans plus petits */
@media (max-width: 750px) {
  /* Affichage du bouton du menu hamburger */
.nav {
  justify-content: space-between;
}

  .icons_burger {
    display: block;
    padding-right: 40px;
  }

  .nav_barre {
    display: none;
  }

  /* Style pour le menu de navigation lorsqu'il est ouvert */
  .nav_barre.active {
    display: block;
    position: fixed;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Style pour les liens du menu de navigation */
  .linav {
    padding: 15px 0;
  }

  /* Style pour le survol des liens du menu */
  .linav:hover {
    background-color: #ff6600;
  }

  /* Style pour les barres de l'icône du menu hamburger */
  .icons_burger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 3px);
  }

  .icons_burger.open .bar:nth-child(2) {
    transform: rotate(45deg) translate(-4px, -3px);
  }

  .icons_burger.open .bar:nth-child(3) {
    opacity: 0;
  }
}
