.section_proposition_all {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 1200px;
    gap: 50px;
    padding: 150px 0;
}

.proposition_title {
    font-size: 20px;
    width: 600px;
}

.proposition_title h2 {
    font-weight: bold;
    font-size: 40px;
    color: #ff6600;
}

.proposition_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.proposition_content_item {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.proposition_content_item_block {
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.proposition_content_item_icon {
    font-size: 30px;
}

#pencil {
    color: #ffb703;
}

#laptop {
    color: #ff6600;
}

#mobile {
    color: rgb(49, 49, 196);
}

#usersecret {
    color: rgb(202, 60, 60);
}


.proposition_content_item_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proposition_content_item_title h3 {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    
    .section_proposition {
        width: 765px;
    }
    
    .proposition_title {
        width: 100%;
    }
    
    .proposition_content_item_block {
        width: 350px;
        }
}

@media screen and (max-width: 850px) {
    .section_proposition {
        width: 100%;
        padding: 150px 10px;
    }
    
    .proposition_title {
        text-align: center;
    }
    
    .proposition_content {
        flex-direction: column;
    }
    
    .proposition_content_item {
        justify-content: center;
    }
    
    .proposition_content_item_block {
        width: 350px; 
    }
}